{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protudo Bicicletas Feita a Mão</title>
    <link rel="stylesheet" href="{% static "base/css/adicionado.css" %}">
</head>
<body>
    <header>
        <h1>Protudo - Bicicletas Feita a Mão</h1>
    </header>
    <div id='adicionado'>
        <h2><center>Adicionado com sucesso!</center></h2>
    </div>
    <footer>
        <p>&copy; Bikcraft. Alguns direitos reservados</p>
    </footer>
</body>
</html>