{% extends "base/lojas.html" %} 
{% load static %} 
{% block conteudo %}
<main>
    <section id="home">
        <h2><center>Bem-vindo à Lojas Bicicletas Feita a Mão</center></h2>
        <p><center>Nossas bicicletas são feitas com a maior qualidade e cuidado.</center></p>
    </section>

    <section id="products">
        <h2><center>Produtos</center></h2>
        {% for lojas in loja %}
            <div class='product-card'>
                <h2>{{lojas.modelo}}</h2>
                <img class='foto' src='{{lojas.foto.url}}'/>
                <p>{{lojas.descricao}}</p>
                <h3>{{lojas.preco}}</h3>
            </div>
        {% endfor %}
    </section>
</main>
{% endblock conteudo %}