{% extends "base/lojas.html" %}
{% load static %}
{% block conteudo %}
<main>
    <section id="home">
        <h2><center>Bem-vindo à Lojas Bicicletas Feita a Mão</center></h2>
    </section>
    <h2><center>Lojas</center></h2>
    <div class="button-container-cadastra">
        <a href='{% url "cadastra-loja" %}'><button>Cadastra</button></a>
    </div>
    <section id="products">
        {% for loja in lojas %}
            <div class='product-card'>
                <h2>{{lojas.nome}}</h2>
                <p>{{lojas.produtos}}</p>
                <h3>{{lojas.detalhe}}</h3>
                <div class="button-container">
                    <a href='{% url "pagina-deleta" loja.id %}'><button>Deleta</button></a>
                    <aid='atualizado'href='{% url "atualiza-lojas" loja.id %}'><button id='atualiza'>Atualizar</button></a>
                </div>
            </div>
        {% endfor %}
    </section>
</main>
{% endblock conteudo %}