{% extends "base/produtos.html" %} 
{% load static %} 
{% block conteudo %}
<main>
    <section id="home">
        <h2><center>Bem-vindo à Produtos Bicicletas Feita a Mão</center></h2>
        <p><center>Nossas bicicletas são feitas com a maior qualidade e cuidado.</center></p>
    </section>
    <h2><center>Produtos</center></h2>
    <div class="button-cadastra">
        <a href='{% url "pagina-cadastraprodutos" %}'><button>Cadastra Produtos</button></a>
    </div>
    <section id="products">
        {% for produto in produtos %}

            <div class='product-card'>
                <h2>{{produto.modelo}}</h2>
                <img class='foto' src='{{produto.foto.url}}'/>
                <p>{{produto.descricao}}</p>
                <h3> R$ {{produto.preco}}</h3>
                <div class="button-container">
                    <a href='{% url "deleta-produtos" produto.id %}'><button>Deleta</button></a>
                    <a id='atualizado' href='{% url "pagina-atualizado" produto.id %}'><button id='atualiza'>Atualizar</button></a>
                </div>
                {% for loja in produto.lojas_set.all %}
                    {% if loja %}
                        <h3>Loja: {{loja}}</h3>
                    {% else %}
                        <h3>Infelizmente, não tem nenhum loja com esse modelo.</h3>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </section>
</main>
{% endblock conteudo %}