{% extends "base/livro.html" %}
{% load static %}
{% block livro %}

    <main>
        <section id="book-list">
            <h2>Livros Disponíveis</h2>
            <ul id="books">
                {% for book in livro %}
                    <a href='{% url "detalhe-livro" book.id %}'><li>{{book}}</li></a>
                {% endfor %}
            </ul>
        </section>
        <br>
        <section id='book-form'>
            <h2>Adicionar Novo Livro</h2>
            <form id="new-book-form" method='POST' action='{% url "pagina-livro" %}'>
                {% csrf_token %}
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required>

                <label for="autor">Autor:</label>
                <input type="text" id="autor" name="autor" required>

                <label for="data_publicacao">Data de Publicação:</label>
                <input type="date" id="data_publicacao" name="data_publicacao" required>

                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" required></textarea>

                <button type="submit">Adicionar Livro</button>
            </form>
        </section>
    </main>


{% endblock livro %}