{% extends "base/detalhe.html" %}
{% load static %}
{% block detalhe %}
    <p>Título: {{livro.titulo}}</p>
    <p>Autor: {{livro.autor}}</p>
    <p>Data publicação: {{livro.data_publicacao}}</p>
    <p>Descrição: {{livro.descricao}}</p>
    <br>
    <br>
    <a href='{% url "pagina-livro" %}'><button>Voltar</button></a>
    <a href='{% url "deletar-livro" livro.id %}'><button>Deletar</button></a>
    <a href='{% url "atualiza-livro" livro.id %}'><button>Atualizar</button></a>
{% endblock detalhe %}