{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos - Lojas Bicicletas Feita a Mão</title>
    <link rel="stylesheet" href="{% static "bikes/css/contados.css" %}">
</head>
<body>
    <header>
        <h1>Contatos - Bicicletas Feita a Mão</h1>
        <nav>
            <ul>
                <a href='{% url "pagina-inicial" %}'>Início</a>
                <a href="{% url "pagina-sobre" %}">Sobre</a>
                <a href="{% url "pagina-cadastraprodutos" %}">Cadastrar Produtos</a>
                <a href='{% url "pagina-produtos" %}'>Produtos</a>
                <a href="{% url "cadastra-loja" %}">Cadastrar Lojas</a>
                <a href='{% url "pagina-loja" %}'>Lojas</a>
            </ul>
        </nav>
    </header>
    {% block conteudo %}{% endblock conteudo %}
    <footer>
        <p>&copy; 2024 Lojas Bicicletas Feita a Mão. Todos os direitos reservados.</p>
    </footer>
</body>
</html>